domains:
  - name: example.duckdns.org
    keylength: ec-256

    dns:
      provider: duckdns
      env:
        DUCKDNS_TOKEN: ${DUCKDNS_TOKEN}

    host:
      host_url: root@192.168.1.1
      dest: /jffs/nginx/example
      reload: service restart_nginx
      transfer: scp  # scp (default) or rsync

  - name: site.example.com
    keylength: ec-256

    dns:
      provider: cf # Cloudflare DNS API
      env:
        CF_Token: ${CF_API_TOKEN}
        CF_Account_ID: ${CF_ACCOUNT_ID}

    host:
      host_url: deploy@vps.example.com
      dest: /etc/nginx/certs/site
      reload: systemctl reload nginx
      transfer: rsync  # rsync for full Linux servers
